{% extends 'layouts/base.html' %}
{% load extras %}
{% load i18n %}

{% block title %} Case studies {% endblock title %}

{% block content %}

{% if execution_id %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
          <a href="/case-study/execution/detail/{{execution_id}}" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
          </i>{% blocktranslate %}Go Back to Execution {{execution_id}}{% endblocktranslate %}</a>
          <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}Feature Extraction Technique Configuration Details{% endblocktranslate %}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-md-3 ml-lg-2">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/case-study/execution/list/"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/case-study/execution/detail/{{execution_id}}">{% blocktranslate %}Execution {{ execution_id }}{% endblocktranslate %}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Feature Extraction Technique Configuration Details{% endblocktranslate %}</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/fe/feature-extraction-technique/list/{{ case_study_id }}/" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>{% blocktranslate %}Go Back to Feature Extraction Technique Configurations{% endblocktranslate %}</a>
            <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}Feature Extraction Technique Configuration{% endblocktranslate %}</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-md-3 ml-lg-2">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/case-study/detail/{{case_study_id}}">{% blocktranslate %}Case Study {{ case_study_id }}{% endblocktranslate %}</a></li>
                <li class="breadcrumb-item"><a href="/dd/extract-training-dataset/list/{{ case_study_id }}/">{% blocktranslate %}Feature Extraction Technique Configs{% endblocktranslate %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Feature Extraction Technique Details{% endblocktranslate %}</a></li>
              </ol>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{% blocktranslate %}Create a new Feature Extraction Technique Configuration{% endblocktranslate %}</h3>
          </div>
          <div class="card-body">
            {% include "feature_extraction_technique/form.html" %}
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}
