{% load i18n %}

<form method="POST" enctype="multipart/form-data" >{% csrf_token %}
    <h6 class="heading-small text-muted mb-4">{% blocktranslate %}General information{% endblocktranslate %}</h6>
    <div class="pl-lg-4">
      <div class="col-lg-12">
        <div class="form-group" id ="title">
          <label class="form-control-label" for="title">{% blocktranslate %}Title {% endblocktranslate %}<b class="text-red">*</b></label>
          {{ form.title }}
          <div class="form-validation">{{ form.title.errors }}</div>
        </div>
      </div>
    <div class="col-lg-12">
        <div class="form-group">
        <label class="form-control-label" for="input-title">{% blocktranslate %}Identifier {% endblocktranslate %}<b class="text-red">*</b></label>
        {{ form.identifier }}
        <div class="form-validation">{{ form.identifier.errors }}</div>
        </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label class="form-control-label" for="input-title">{% blocktranslate %}Type {% endblocktranslate %}<b class="text-red">*</b></label>
        {{ form.type }}
        <div class="form-validation">{{ form.type.errors }}</div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label class="form-control-label" for="input-title">{% blocktranslate %}Technique {% endblocktranslate %}<b class="text-red">*</b></label>
        {{ form.technique_name }}
        <div class="form-validation">{{ form.technique_name.errors }}</div>
      </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
        <label class="form-control-label" for="input-title">{% blocktranslate %}Decision Point Activity to study {% endblocktranslate %}</label>
        {{ form.decision_point_activity }}
        <div class="form-validation">{{ form.decision_point_activity.errors }}</div>
        </div>
    </div>
  </div>
  <hr>
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Preload Execution Results{% endblocktranslate %}</h6>
  <div class="col-12">
    <div class="form-group" id="preloaded">
      {{form.preloaded}}
      <label class="form-control-label" for="preloaded">{% blocktranslate %}Preload Execution Results .zip{% endblocktranslate %}</label>
    </div>
          <div class="form-group" id="preloaded_file">
            {{form.preloaded_file}}
            <label class="form-control-label" for="preloaded_file">
              {% if form.preloaded == True %}
                {% blocktranslate %}Preloaded File already uploaded{% endblocktranslate %}
              {% endif %}
            </label>
            <button onclick="alert('|-- zip\n|   |-- scenario_results\n|   |   |-- recortes -> .png\n|   |   |-- components_npy -> .npy\n|   |   |-- components_json\n|   |   |   ->  .json\n|   |   |   |-- soms -> .json')">?</button>
          </div>
        </div>
    <hr>
    <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Configurations{% endblocktranslate %}</h6>
    <div class="pl-lg-4">
    <div class="col-lg-12">
        <div class="form-group">
        {{ form.consider_relevant_compos }}
        <label class="form-control-label" for="input-title">{% blocktranslate %}Apply filtering (Relevant Component Selection){% endblocktranslate %}</label>
        <div class="form-validation">{{ form.consider_relevant_compos.errors }}</div>
        </div>
        <div class="form-group">
        <label class="form-control-label" for="input-title">{% blocktranslate %}Condition for a UI component to be relevant{% endblocktranslate %}</label>
        {{ form.relevant_compos_predicate }}
        <div class="form-validation">{{ form.relevant_compos_predicate.errors }}</div>
        </div>
    </div>
    </div>
    {% if not form.read_only %}
       <hr class="my-4" />
       <button id="mainSubmitButton" class="btn btn-success" type="submit" value="submit" style="float: right;">
           <i class="fas fa-save"></i>
           {% blocktranslate %}Generate{% endblocktranslate %}
       </button>
       {% endif %}
</form>


<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>

    //if (!document.getElementById('form').readOnly) {


    document.addEventListener('DOMContentLoaded', () => { 
      const rel_comp_pred = document.getElementById('id_consider_relevant_compos')
      const fe_type = document.getElementById('id_type')

     

      if (rel_comp_pred.checked) {
        document.getElementById('id_relevant_compos_predicate').disabled = false;
      } else {
        document.getElementById('id_relevant_compos_predicate').disabled = true;
      }
      rel_comp_pred.onchange = () => {
        if (rel_comp_pred.checked) {
          document.getElementById('id_relevant_compos_predicate').disabled = false;
        } else {
          document.getElementById('id_relevant_compos_predicate').disabled = true;
        }
      }
    
      var select = document.getElementById('id_technique_name');
      var type = fe_type.value;

      
      // Limpiar las opciones existentes
      select.innerHTML = '';
      
      // Verificar si se ha seleccionado un tipo
      if (type === '') {
          // Si no se ha seleccionado un tipo, deshabilitar el campo technique name
          select.disabled = true;
      } else {
          // Si se ha seleccionado un tipo, habilitar el campo technique name
          select.disabled = false;

          // Definir las opciones basadas en el tipo seleccionado
          var options;
          if (type === 'SINGLE') {
            options = ['number_ui_element', 'caption_ui_element'];
          } else if (type === 'AGGREGATE') {
            options = ['status', 'plaintext', 'location', 'quantity'];
          }

          // Añadir las nuevas opciones al select
          for (var i = 0; i < options.length; i++) {
              var option = document.createElement('option');
              option.text = options[i];
              option.value = options[i];
              select.add(option);
          }
      }
    })

    
    document.getElementById('id_type').addEventListener('change', function() {
      
      var select = document.getElementById('id_technique_name');
      
      var type = this.value;

      // Limpiar las opciones existentes
      select.innerHTML = '';

      // Verificar si se ha seleccionado un tipo
      if (type === '') {
          // Si no se ha seleccionado un tipo, deshabilitar el campo technique name
          select.disabled = true;
      } else {
          // Si se ha seleccionado un tipo, habilitar el campo technique name
          select.disabled = false;

          // Definir las opciones basadas en el tipo seleccionado
          var options;
          if (type === 'SINGLE') {
            options = ["ui_elem_location-class", "ui_elem_location-class_plaintext", "class-ui_elem_location", "class_plaintext-ui_elem_location", "xpath-class", "xpath+ui_elem_class-existence", "ui_compo-existence", "xpath-class_filtered_by_attention", "ui_compos_stats"];
          } else if (type === 'AGGREGATE') {
            options = ['status', 'quantity'];
          }

          // Añadir las nuevas opciones al select
          for (var i = 0; i < options.length; i++) {
              var option = document.createElement('option');
              option.text = options[i];
              option.value = options[i];
              select.add(option);
          }
      }
  });
//}

  
  </script>

<script>

//if (!document.getElementById('form').readOnly) {

document.addEventListener('DOMContentLoaded', () => {
  const title = document.getElementById('id_title');
  const type = document.getElementById('id_type');
  //const skip = document.getElementById('id_skip');
  const preloaded = document.getElementById('id_preloaded');  
  const preloaded_file = document.getElementById('id_preloaded_file');  
  //const configurations = document.getElementById('id_configurations');
  const identifier = document.getElementById('id_identifier');
  const technique_name = document.getElementById('id_technique_name');

  // Función para habilitar/deshabilitar campos
  function toggleFields(isPreloadedChecked) {
    if (!document.getElementById('form').readOnly) {
    type.disabled = isPreloadedChecked;
    //skip.disabled = isPreloadedChecked;
    //configurations.disabled = isPreloadedChecked;
    identifier.disabled = isPreloadedChecked;
    technique_name.disabled = isPreloadedChecked;
    preloaded_file.disabled = !isPreloadedChecked;
    }
  }

  // Controlador de eventos para el checkbox 'preloaded'
  preloaded.addEventListener('change', () => {
    toggleFields(preloaded.checked);
  });

  // Inicializar los campos al cargar la página
  toggleFields(preloaded.checked);

  document.getElementById('form').onsubmit = function() {
    document.getElementById('id_preloaded').readOnly = false;
  }
})  
//}
</script>
{% endblock javascripts %}