absl-py==1.2.0
art==5.7
asgiref==3.5.2
astunparse==1.6.3
attrs==22.1.0
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
chefboost==0.0.17
colorama==0.4.5
contourpy==1.0.5
cycler==0.11.0
decorator==5.1.1
Django==4.1.2
django-cors-headers==3.13.0
django-environ==0.9.0
djangorestframework==3.14.0
drf-spectacular==0.24.2
drf-spectacular-sidecar==2022.10.1
editdistance==0.6.0
efficientnet==1.0.0
essential-generators==1.0
flatbuffers==22.9.24
fonttools==4.37.4
gast==0.4.0
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.49.1
h5py==3.7.0
idna==3.4
imageio==2.22.1
imgaug==0.4.0
inflection==0.5.1
joblib==1.2.0
jsonschema==4.16.0
keras==2.10.0
Keras-Applications==1.0.8
keras-ocr==0.8.9
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.1
networkx==2.8.7
numpy==1.23.3
oauthlib==3.2.1
opencv-contrib-python==4.6.0.66
opencv-contrib-python-headless==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
protobuf==3.19.6
psutil==5.9.2
psycopg2==2.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.4
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.2
Shapely==1.8.4
six==1.16.0
sklearn==0.0
sqlparse==0.4.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
threadpoolctl==3.1.0
tifffile==2022.10.10
tqdm==4.64.1
typing_extensions==4.4.0
tzdata==2022.4
uritemplate==4.1.1
urllib3==1.26.12
validators==0.20.0
Werkzeug==2.2.2
whitenoise==6.2.0
wrapt==1.14.1
