{% extends 'layouts/base-error.html' %}
{% load i18n %}

{% block title %} Error 403 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card-header bg-transparent pb-5">
              <img class="img-fluid" id="welcome" src="/static/assets/img/brand/forbidden.png" alt="Argon Design - Template Starter Logo.">

              <div class="text-white text-center mt-3 mb-3">
                {% blocktranslate %}Oops! You need to be authenticated to acces this page{% endblocktranslate %}
              </div>

              <div class="text-center mb-3">
                <a href="{% url 'login' %}">{% blocktranslate %}Login{% endblocktranslate %}</a>
              </div>

            </div>
          </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
