{% load i18n %}

<form method="POST" enctype="multipart/form-data" >{% csrf_token %}
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}General information{% endblocktranslate %}</h6>
    <div class="pl-lg-2">
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="input-title">{% blocktranslate %}Title {% endblocktranslate %}<b class="text-red">*</b></label>
                {{ form.title }}
                <div class="form-validation">{{ form.title.errors }}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="input-title">{% blocktranslate %}Type {% endblocktranslate %}<b class="text-red">*</b></label>
                {{ form.type }}
            <div class="form-validation">{{ form.type.errors }}</div>
            </div>
        </div>
    </div>
  <hr>
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Preload Execution Results{% endblocktranslate %}</h6>
  <div class="col-12">
    <div class="form-group" id="preloaded">
      {{form.preloaded}}
      <label class="form-control-label" for="preloaded">{% blocktranslate %}Preload Execution Results .zip{% endblocktranslate %}</label>
    </div>
    <div class="form-group" id="preloaded_file">
      {{form.preloaded_file}}
      <label class="form-control-label" for="preloaded_file">
        {% if form.preloaded == True %}
          {% blocktranslate %}Preloaded File already uploaded{% endblocktranslate %}
        {% endif %}
      </label>
      <button onclick="event.preventDefault(); alert('|-- zip\n|   |-- scenario_results\n|   |   |-- fixation.json\n|   |   |-- ub_log_fixation.csv\n|   |   |-- log.csv\n|   |   |--  screenshotXXXX.JPEG(s)')">?</button>
    </div>
  </div>
  <hr>
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Configuration{% endblocktranslate %}</h6>
    <div class="row pl-lg-4 pr-lg-2">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label" for="input-title">{% blocktranslate %}UI Log Filename{% endblocktranslate %}<b class="text-red">*</b></label>
                {{ form.ui_log_filename }}
                <div class="form-validation">{{ form.ui_log_filename.errors }}</div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label" for="input-title">{% blocktranslate %}Gaze Log Filename{% endblocktranslate %}</label>
                {{ form.gaze_log_filename }}
                <div class="form-validation">{{ form.gaze_log_filename.errors }}</div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="input-title">{% blocktranslate %}Gaze Log Adjustment{% endblocktranslate %}</label>
                {{ form.gaze_log_adjustment }}
                <div class="form-validation">{{ form.gaze_log_adjustment.errors }}</div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="input-title">{% blocktranslate %}System Info. Log{% endblocktranslate %}</label>
                {{ form.native_slide_events }}
                <div class="form-validation">{{ form.native_slide_events.errors }}</div>
            </div>
            <h6 id="webgazer_options" class="heading-small text-muted mb-4" style="display: none;">{% blocktranslate %}Webgazer options{% endblocktranslate %}</h6>
            <div class="form-group" id="screen_inches_id_div" style="display: none;">
                <label class="form-control-label" for="input-title">{% blocktranslate %}Screen Inches{% endblocktranslate %}</label>
                {{ form.screen_inches }}
                <div class="form-validation">{{ form.screen_inches.errors }}</div>
            </div>
            <div class="form-group" id ="observer_camera_distance_id_div"  style="display: none;">
              <label class="form-control-label" for="input-title">{% blocktranslate %}Observer Camera Distance (in centimetres){% endblocktranslate %}</label>
              {{ form.observer_camera_distance }}
              <div class="form-validation">{{ form.observer_camera_distance.errors }}</div>
            </div>
            <div class="form-group" id ="screen_width_id_div"  style="display: none;">
              <label class="form-control-label" for="input-title">{% blocktranslate %}Screen Width (in pixels){% endblocktranslate %}</label>
              {{ form.screen_width }}
              <div class="form-validation">{{ form.screen_width.errors }}</div>
            </div>
            <div class="form-group" id ="screen_height_id_div"  style="display: none;">
              <label class="form-control-label" for="input-title">{% blocktranslate %}Screen Height (in pixels){% endblocktranslate %}</label>
              {{ form.screen_height }}
              <div class="form-validation">{{ form.screen_height.errors }}</div>
            </div>
        </div>
    </div>
    {% if not form.read_only %}
    <button class="btn btn-success" style="float: right;" type="submit" value="submit" >
    <i class="fas fa-save"></i> 
    {% blocktranslate %}Save{% endblocktranslate %}
    </button>
    {% endif %}
</form>

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const title = document.getElementById('id_title');
      const type = document.getElementById('id_type');
      const preloaded = document.getElementById('id_preloaded');  
      const preloaded_file = document.getElementById('id_preloaded_file');  
      const ui_log_filename = document.getElementById('id_ui_log_filename');
      const gaze_log_filename = document.getElementById('id_gaze_log_filename');
      const gaze_log_adjustment = document.getElementById('id_gaze_log_adjustment');
      const native_slide_events = document.getElementById('id_native_slide_events');
      const screen_inches = document.getElementById('id_screen_inches');
      const observer_camera_distance = document.getElementById('id_observer_camera_distance');
      const screen_width = document.getElementById('id_screen_width');
      const screen_height = document.getElementById('id_screen_height');

      const screen_inches_id_div = document.getElementById('screen_inches_id_div');
      const observer_camera_distance_id_div = document.getElementById('observer_camera_distance_id_div');
      const screen_width_id_div = document.getElementById('screen_width_id_div');
      const screen_height_id_div = document.getElementById('screen_height_id_div');


      var webgazerOptions = document.getElementById('webgazer_options');
      // Función para habilitar/deshabilitar campos
      function toggleFields(isPreloadedChecked) {
        if ("{{form.read_only | safe}}"!="True") {
          type.disabled = isPreloadedChecked;
          ui_log_filename.readOnly = isPreloadedChecked;
          gaze_log_filename.readOnly = isPreloadedChecked;
          gaze_log_adjustment.readOnly = isPreloadedChecked;
          native_slide_events.readOnly = isPreloadedChecked;
          screen_inches.readOnly = isPreloadedChecked
          observer_camera_distance.readOnly = isPreloadedChecked
          screen_width.readOnly = isPreloadedChecked
          screen_height.readOnly = isPreloadedChecked
          preloaded_file.disabled = !isPreloadedChecked;
        }
      }

      function toggleTypeFields() {
        if (type.value == 'webgazer') {
          screen_inches_id_div.style.display = 'block';
          observer_camera_distance_id_div.style.display = 'block';
          webgazerOptions.style.display = 'block';
          screen_width_id_div.style.display = 'block';
          screen_height_id_div.style.display = 'block';
          native_slide_events.value = 'webgazer_properties.json'
          gaze_log_filename.value = 'webgazer_gazedata.csv'
        }
        else if (type.value == 'tobii'){
          screen_inches_id_div.style.display = 'block';
          observer_camera_distance_id_div.style.display = 'block';
          webgazerOptions.style.display = 'block';
          screen_width_id_div.style.display = 'block';
          screen_height_id_div.style.display = 'block';
          native_slide_events.value = 'tobii_properties.json'
          gaze_log_filename.value = 'tobii_gazedata.csv'
        
        } else {
          screen_inches_id_div.style.display = 'none';
          observer_camera_distance_id_div.style.display = 'none';
          webgazerOptions.style.display = 'none';
          screen_width_id_div.style.display = 'none';
          screen_height_id_div.style.display = 'none';
          native_slide_events.value = 'Native_SlideEvents.csv'
          gaze_log_filename.value = 'ET_RExtAPI-GazeAnalysis.csv'
        }
      }

      type.addEventListener('change', toggleTypeFields);  // Agregar controlador de eventos a 'type'

      // Mostrar/ocultar campos cuando se carga la página
      toggleTypeFields();
  
      // Controlador de eventos para el checkbox 'preloaded'
      preloaded.addEventListener('change', () => {
        toggleFields(preloaded.checked);
        preloaded_file.required = preloaded.checked;
      });


  
      // Inicializar los campos al cargar la página
      if ("{{form.read_only}}"!="true")
        togglefields(preloaded.checked);
  
      document.getElementById('form').onsubmit = function() {
        // document.getElementById('id_model').readOnly = false;
        document.getElementById('id_preloaded').readOnly = false;
      }
    })  
  
  </script>

  {% endblock javascripts %}