{% extends 'layouts/base.html' %}
{% load extras %}

{% block title %} Case studies {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-12 col-7">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn  btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>Go Back to UI Elements Classification Configurations</a>
            <h6 class="h2 text-white d-inline-block mb-0">New UI Elements Classification Configuration</h6>
            <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{{ request.META.HTTP_REFERER }}">...</a></li>
                <li class="breadcrumb-item"><a href="#">New UI Elements Classification</a></li>
              </ol>
            </nav> -->
          </div>
          <!-- <div class="col-lg-6 col-5 text-right">
            <a href="/fe/ui-element-classification/new/{{ case_study_id }}/"   class="btn  btn-neutral"><i class="fas fa-broom"></i> Clean fields</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Create a new UI Elements Classification Configuration</h3>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.model.label_tag }}
                      {{ form.model }}
                      <div class="form-validation">{{ form.model.errors }}</div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.model_properties.label_tag }}
                      {{ form.model_properties }}
                      <div class="form-validation">{{ form.model_properties.errors }}</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.type.label_tag }}
                      {{ form.type }}
                      <div class="form-validation">{{ form.type.errors }}</div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.skip.label_tag }}
                      {{ form.skip }}
                      <div class="form-validation">{{ form.skip.errors }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" style="float: right;" type="submit" value="submit" >
                <i class="fas fa-save"></i> 
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
