{% load i18n %}

<form method="POST" enctype="multipart/form-data" >{% csrf_token %}
    <h6 class="heading-small text-muted mb-4">{% blocktranslate %}General information{% endblocktranslate %}</h6>
    <div class="pl-lg-4">
      <div class="col-lg-12">
        <div class="form-group" id ="title">
          <label class="form-control-label" for="title">{% blocktranslate %}Title {% endblocktranslate %}<b class="text-red">*</b></label>
          {{ form.title }}
          <div class="form-validation">{{ form.title.errors }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label" for="input-title">{% blocktranslate %}Technique {% endblocktranslate %}<b class="text-red">*</b></label>
          {{ form.technique_name }}
          <div class="form-validation">{{ form.technique_name.errors }}</div>
        </div>
      </div>
  </div>
  <hr>
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Preload Execution Results{% endblocktranslate %}</h6>
  <div class="col-12">
    <div class="form-group" id="preloaded">
      {{form.preloaded}}
      <label class="form-control-label" for="preloaded">{% blocktranslate %}Preload Execution Results .zip{% endblocktranslate %}</label>
    </div>
          <div class="form-group" id="preloaded_file">
            {{form.preloaded_file}}
            <label class="form-control-label" for="preloaded_file">
              {% if form.preloaded == True %}
                {% blocktranslate %}Preloaded File already uploaded{% endblocktranslate %}
              {% endif %}
            </label>
            <button onclick="event.preventDefault(); alert('|-- zip\n|   |-- scenario_results\n|   |   |-- enriched_log.csv')">?</button>
          </div>
        </div>
    {% if not form.read_only %}
      <hr class="my-4" />
      <button id="mainSubmitButton" class="btn btn-success" type="submit" value="submit" style="float: right;">
        <i class="fas fa-save"></i>
        {% blocktranslate %}Save{% endblocktranslate %}
      </button>
    {% endif %}
</form>


<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const title = document.getElementById('id_title');
    const preloaded = document.getElementById('id_preloaded');  
    const preloaded_file = document.getElementById('id_preloaded_file');  
    const technique_name = document.getElementById('id_technique_name');
  
    // Función para habilitar/deshabilitar campos
    function toggleFields(isPreloadedChecked) {
      if (!document.getElementById('form').readOnly) {
        technique_name.disabled = isPreloadedChecked || !type.value;  // Deshabilitar si no se ha seleccionado un tipo
        preloaded_file.disabled = !isPreloadedChecked;
      }
    }
    preloaded.addEventListener('change', () => {
      toggleFields(preloaded.checked);
    });
  
    type.addEventListener('change', changeTechniqueOptions);
  
    changeTechniqueOptions();
    toggleFields(preloaded.checked);  // Llamar a toggleFields después de changeTechniqueOptions
  
    document.getElementById('form').onsubmit = function() {
      document.getElementById('id_preloaded').readOnly = false;
    }
  });
  </script>
{% endblock javascripts %}