{% extends 'layouts/base.html' %}
{% load extras %}
{% load i18n %}

{% block title %} {% blocktranslate %}Case studies{% endblocktranslate %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12">
            <a href="/dd/decision-tree-training/list/{{case_study_id}}" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>{% blocktranslate %}Go Back to Decision Tree Training Configurations{% endblocktranslate %}</a>
            <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}New Decision Tree Training Configuration{% endblocktranslate %}</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-md-3 ml-lg-2">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/case-study/detail/{{case_study_id}}">{% blocktranslate %}Case Study {{ case_study_id }}{% endblocktranslate %}</a></li>
                <li class="breadcrumb-item"><a href="/dd/decision-tree-training/list/{{case_study_id}}">{% blocktranslate %}Decision Tree Traning Configs{% endblocktranslate %}</a></li>
                <li class="breadcrumb-item"><a href="#">{% blocktranslate %}New decision tree training{% endblocktranslate %}</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-12 text-right">
            <a href="/dd/decision-tree-training/new/{{ case_study_id }}/" class="btn btn btn-light"><i class="fas fa-broom"></i>{% blocktranslate %}Restart fields{% endblocktranslate %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{% blocktranslate %}Create a new Decision Tree Training Configuration{% endblocktranslate %}</h3>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.library.label_tag }}
                      {{ form.library }}
                      <div class="form-validation">{{ form.library.errors }}</div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.one_hot_columns.label_tag }}
                      {{ form.one_hot_columns }}
                      <div class="form-validation">{{ form.one_hot_columns.errors }}</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      {{ form.configuration.label_tag }}
                      {{ form.configuration }}
                      <div class="form-validation">{{ form.configuration.errors }}</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      {{ form.columns_to_drop_before_decision_point.label_tag }}
                      {{ form.columns_to_drop_before_decision_point }}
                      <div class="form-validation">{{ form.columns_to_drop_before_decision_point.errors }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" style="float: right;" type="submit" value="submit" >
                <i class="fas fa-save"></i> 
                {% blocktranslate %}Save{% endblocktranslate %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
