{% load i18n %}

<form method="POST" enctype="multipart/form-data" >{% csrf_token %}
    <div class="pl-lg-4">
        <div class="row">
        <div class="col-lg-6">
            <div class="form-group" id ="title">
              <label class="form-control-label" for="title">{% blocktranslate %}Title {% endblocktranslate %}<b class="text-red">*</b></label>
              {{ form.title }}
              <div class="form-validation">{{ form.title.errors }}</div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            {{ form.library.label_tag }}
            {{ form.library }}
            <div class="form-validation">{{ form.library.errors }}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            {{ form.one_hot_columns.label_tag }}
            {{ form.one_hot_columns }}
            <div class="form-validation">{{ form.one_hot_columns.errors }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          {{form.balance_weights.label_tag}}
          {{form.balance_weights}}
        </div>
      </div>
      <hr>
        <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Preload Execution Results{% endblocktranslate %}</h6>
        <div class="col-12">
          <div class="form-group" id="preloaded">
            {{form.preloaded}}
            <label class="form-control-label" for="preloaded">{% blocktranslate %}Preload Execution Results .zip{% endblocktranslate %}</label>
          </div>
          <div class="form-group" id="preloaded_file">
            {{form.preloaded_file}}
            <label class="form-control-label" for="preloaded_file">
              {% if form.preloaded == True %}
                {% blocktranslate %}Preloaded File already uploaded{% endblocktranslate %}
              {% endif %}
            </label>
            <!-- TODO: Update hint -->
            <button onclick="alert('|-- zip\n|  |-- scenario_results\n|   |   |-- recortes -> .png\n|   |   |-- components_npy -> .npy\n|   |   |-- components_json\n|   |   |   ->  .json\n|   |   |   |-- soms -> .json')">?</button>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            {{ form.configuration }}
            <div class="form-validation">{{ form.configuration.errors }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            {{ form.columns_to_drop_before_decision_point.label_tag }}
            {{ form.columns_to_drop_before_decision_point }}
            <div class="form-validation">{{ form.columns_to_drop_before_decision_point.errors }}</div>
          </div>
        </div>
      </div>
    </div>
    {% if not form.read_only %}
       <hr class="my-4" />
       <button id="mainSubmitButton" class="btn btn-success" type="submit" value="submit" style="float: right;">
           <i class="fas fa-save"></i>
           {% blocktranslate %}Save{% endblocktranslate %}
       </button>
       {% endif %}
  </form>


  {% block javascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const title = document.getElementById('id_title');
      const preloaded = document.getElementById('id_preloaded');  
      const preloaded_file = document.getElementById('id_preloaded_file');  
      const libr = document.getElementById('id_library');
      const one_hot_columns = document.getElementById('id_one_hot_columns');

      // Hide configuration
      const configuration = document.getElementById('id_configuration');
      configuration.style.display = 'none';
    
      // Función para habilitar/deshabilitar campos
      function toggleFields(isPreloadedChecked) {

        if ("{{form.read_only | safe}}"!="True") {
          preloaded_file.disabled = !isPreloadedChecked;
          libr.disabled = isPreloadedChecked;
          one_hot_columns.disabled = isPreloadedChecked;
        }
      }
    
      // Controlador de eventos para el checkbox 'preloaded'
      preloaded.addEventListener('change', () => {
        toggleFields(preloaded.checked);
        preloaded_file.required = preloaded.checked;
      });
    
      // Inicializar los campos al cargar la página
      if ("{{form.read_only}}"!="true")
        togglefields(preloaded.checked);
    
      document.getElementById('form').onsubmit = function() {
        document.getElementById('id_preloaded').readOnly = false;
      }
    })  
    </script>
    {% endblock javascripts %}