{% extends 'layouts/base.html' %}
{% load extras %}
{% load i18n %}
{% load static %}

{% block title %} {% blocktranslate %}Case studies{% endblocktranslate %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12">
            <a href="ui-element-classification" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>{% blocktranslate %}Go Back to Process Discovery Configurations{% endblocktranslate %}</a>
            <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}New Process Discovery Configuration{% endblocktranslate %}</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/case-study/detail/{{case_study_id}}">{% blocktranslate %}Case Study {{ case_study_id }}{% endblocktranslate %}</a></li>
                <li class="breadcrumb-item"><a href="/pd/bpmn/list/{{ case_study_id }}/">{% blocktranslate %}Process Discovery Configs{% endblocktranslate %}</a></li>
                <li class="breadcrumb-item"><a href="#">{% blocktranslate %}New Process Discovery{% endblocktranslate %}</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-12 text-right">
            <a href="/pd/bpmn/new/{{ case_study_id }}/" class="btn btn btn-light"><i class="fas fa-broom"></i>{% blocktranslate %}Restart fields{% endblocktranslate %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{% blocktranslate %}Create a new Process Discovery Configuration{% endblocktranslate %}</h3>
          </div>
          <div class="card-body">
            {% include "processdiscovery/form.html" %}
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'assets/js/processdiscovery/weights_fields.js' %}" defer></script>
{% endblock javascripts %}



