{% extends 'layouts/base.html' %}
{% load extras %}

{% block title %} Case studies {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12">
            <a href="/fe/ui-element-detection/list/{{ case_study_id }}/" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>Go Back to UI Elements Detection Configurations</a>
            <h6 class="h2 text-white d-inline-block mb-0">New UI Elements Detection Configuration</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/case-study/detail/{{case_study_id}}">Case Study {{ case_study_id }}</a></li>
                <li class="breadcrumb-item"><a href="/fe/ui-element-detection/list/{{ case_study_id }}/">UI Elements Detection Configs</a></li>
                <li class="breadcrumb-item"><a href="#">New UI Element Detection </a></li>
              </ol>
            </nav>
          </div>
          <div class="col-12 text-right">
            <a href="/fe/ui-element-detection/new/{{ case_study_id }}/" class="btn btn btn-light"><i class="fas fa-broom"></i> Restart fields</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Create a new UI Elements Detection Configuration</h3>
          </div>
          <div class="card-body">
            <form id="form" method="POST" enctype="multipart/form-data" >{% csrf_token %}
              <h6 class="heading-small text-muted mb-4">General information</h6>
              <div class="pl-lg-2">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-title">Title <b class="text-red">*</b></label>
                    {{ forms.ui_elements_detection.title }}
                    <div class="form-validation">{{ forms.ui_elements_detection.title.errors }}</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-title">Technique <b class="text-red">*</b></label>
                    {{ forms.ui_elements_detection.type }}
                    <div class="form-validation">{{ forms.ui_elements_detection.type.errors }}</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-title">Classification Model</label>
                    {{ forms.ui_elements_classification.model }}
                    <div class="form-validation">{{ forms.ui_elements_classification.model.errors }}</div>
                  </div>
                </div>
              </div>
              <hr>
              <h6 class="heading-small text-muted mb-4">Configuration</h6>
              <div class="pl-lg-2">
                  <div class="col-12">
                    <div class="form-group">
                      {{ forms.ui_elements_detection.ocr }}
                      <label class="form-control-label" for="input-title">Apply OCR <b class="text-red">*</b></label>
                      <div class="form-validation">{{ forms.ui_elements_detection.ocr.errors }}</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-title">Additional Configurations</label>
                      {{ forms.ui_elements_detection.configurations }}
                      <div class="form-validation">{{ forms.ui_elements_detection.configurations.errors }}</div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" style="float: right;" type="submit" value="submit" >
                <i class="fas fa-save"></i> 
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('form').onsubmit = function() {
        document.getElementById('id_model').disabled = false;
      }
    })
  </script>
{% endblock javascripts %}