{% extends 'layouts/base.html' %}
{% load extras %}
{% load i18n %}

{% block title %} {% blocktranslate %}Case studies{% endblocktranslate %} {% endblock title %}

{% block content %}

{% if execution_id %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
          <a href="/case-study/execution/detail/{{execution_id}}" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
          </i>{% blocktranslate %}Go Back to Execution {{execution_id}}{% endblocktranslate %}</a>
          <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}UI Elements Detection Details{% endblocktranslate %}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-md-3 ml-lg-2">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/case-study/execution/list/"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/case-study/execution/detail/{{execution_id}}">{% blocktranslate %}Execution {{ execution_id }}{% endblocktranslate %}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}UI Element Detection Configuration Details{% endblocktranslate %}</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/fe/ui-element-detection/list/{{ case_study_id }}" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>Go Back to UI Elements Detection Configurations</a>
            <h6 class="h2 text-white d-inline-block mb-0">UI Elements Detection Details</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/case-study/detail/{{case_study_id}}">Case Study {{ case_study_id }}</a></li>
                <li class="breadcrumb-item"><a href="/fe/ui-element-detection/list/{{ case_study_id }}">UI Elements Detection Configs</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ forms.ui_elements_detection.title.value }} Details</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{{ forms.ui_elements_detection.title.value }} Details</h3>
          </div>
          <div class="card-body">
            {% include "ui_elements_detection/form.html" %}
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('form').onsubmit = function() {
        document.getElementById('id_model').disabled = false;
      }
    })
  </script>
{% endblock javascripts %}
