{% load i18n %}
<form id="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}General information{% endblocktranslate %}</h6>
  <div class="pl-lg-2">
    <div class="col-12">
      <div class="form-group">
        <label class="form-control-label" for="title">{% blocktranslate %}Title {% endblocktranslate %}<b class="text-red">*</b></label>
        {{ forms.ui_elements_detection.title }}
        <div class="form-validation">{{ forms.ui_elements_detection.title.errors }}</div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="form-control-label" for="type">{% blocktranslate %}Detection Technique {% endblocktranslate %}<b class="text-red">*</b></label>
        {{ forms.ui_elements_detection.type }}
        <div class="form-validation">{{ forms.ui_elements_detection.type.errors }}</div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="form-control-label" for="model">{% blocktranslate %}Classification Model{% endblocktranslate %}</label>
        {{ forms.ui_elements_classification.model }}
        <div class="form-validation">{{ forms.ui_elements_classification.model.errors }}</div>
      </div>
    </div>
  </div>
  <hr>
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Preload Execution Results{% endblocktranslate %}</h6>
  <div class="col-12">
    <div class="form-group">
      {{forms.ui_elements_detection.preloaded}}
      <label class="form-control-label" for="preloaded">{% blocktranslate %}Preload Execution Results .zip{% endblocktranslate %}</label>
    </div>
    <div class="form-group">
      {{forms.ui_elements_detection.preloaded_file}}
      <label class="form-control-label" for="preloaded_file">{% blocktranslate %}.zip structure ->{% endblocktranslate %}</label>
      <button onclick="alert('Estructura del archivo:\n\n|-- zip\n|   |-- recortes -> .png\n|   |-- components_npy -> .npy\n|   |-- components_json\n|   |   ->  .json\n|   |   |-- soms -> .json')">?</button>
    </div>
  </div>
  <hr>
  <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Configuration{% endblocktranslate %}</h6>
  <div class="pl-lg-2">
    <div class="col-12">
      <div class="form-group">
        {{ forms.ui_elements_detection.ocr }}
        <label class="form-control-label" for="ocr">{% blocktranslate %}Apply OCR{% endblocktranslate %}</label>
        <div class="form-validation">{{ forms.ui_elements_detection.ocr.errors }}</div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="form-control-label" for="configurations">{% blocktranslate %}Additional Configurations{% endblocktranslate %}</label>
        {{ forms.ui_elements_detection.configurations }}
        <div class="form-validation">{{ forms.ui_elements_detection.configurations.errors }}</div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" style="float: right;" type="submit" value="submit">
    <i class="fas fa-save"></i>
    Save
  </button>
</form>
<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const technique = document.getElementById('id_type')
    const preloaded = document.getElementById('id_preloaded')
    const preloaded_file = document.getElementById('id_preloaded_file')
    const titleInput = document.getElementById('id_title');
    const formInputs = document.querySelectorAll('#form input, #form select');

    if (technique.value == 'screen2som') {
      document.getElementById('id_model').disabled = true;
    }

    preloaded.addEventListener('change', () => {
      preloaded_file.disabled = !preloaded.checked
      formInputs.forEach(input => {
        if (input !== preloaded && input !== preloaded_file && input !== titleInput) {
          input.disabled = preloaded.checked;
        }
      });
    })

    document.getElementById('form').onsubmit = function() {
      document.getElementById('id_model').disabled = false;
      document.getElementById('preloaded').disabled = false;
    }
  })
</script>
{% endblock javascripts %}