{% extends 'layouts/base.html' %}
{% load extras %}
{% load i18n %}

{% block title %} {% blocktranslate %}Case studies{% endblocktranslate %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/case-study/list/" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>{% blocktranslate %}Go Back to Case Studies{% endblocktranslate %}</a>
            <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}Case Study {{ case_study_id }} details{% endblocktranslate %}</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-md-3 ml-md-2">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Case study {{ case_study_id }}{% endblocktranslate %}</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{% blocktranslate %}Case study {{ case_study_id }} details{% endblocktranslate %}</h3>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
              <!-- General information -->
              <h6 class="heading-small text-muted mb-4">{% blocktranslate %}General information{% endblocktranslate %}</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-title">{% blocktranslate %}Title{% endblocktranslate %}</label>
                      <input type="text" id="input-title" class="form-control" placeholder="{% blocktranslate %}Nice Case Study{% endblocktranslate %}" value="{{ case_study.title }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-title">{% blocktranslate %}Author{% endblocktranslate %}</label>
                      <input type="text" class="form-control" disabled value="{{ case_study.user.username }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-description">{% blocktranslate %}Description{% endblocktranslate %}</label>
                      <textarea id="input-description" class="form-control" description="{% blocktranslate %}This is a case study full of data...{% endblocktranslate %}">{{ case_study.description }}</textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-exp_folder_complete_path">{% blocktranslate %}Case Study Folder Path{% endblocktranslate %}</label>
                      <input type="text" id="input-exp_folder_complete_path" class="form-control" placeholder="/rim/resources/folder_containing_exp" value="{{ case_study.exp_folder_complete_path }}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Configuration -->
              <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Configuration{% endblocktranslate %}</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label class="form-control-label">{% blocktranslate %}Special UI log columns names{% endblocktranslate %}</label>
                  <textarea rows="4" class="form-control" 
                  placeholder="{
                    'Case': 'Case',
                    'Activity': 'Activity',
                    'Screenshot': 'Screenshot', 
                    'Variant': 'Variant',
                    'Timestamp': 'Timestamp',
                    'eyetracking_recording_timestamp': 'Recording timestamp',
                    'eyetracking_gaze_point_x': 'Gaze point X',
                    'eyetracking_gaze_point_y': 'Gaze point Y'
                  }">
                  {{ case_study.special_colnames }}
                  </textarea>
                </div>
              </div>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-scenarios_to_study">{% blocktranslate %}Scenarios to study{% endblocktranslate %}</label>
                      <input type="text" id="input-scenarios_to_study" class="form-control" placeholder="{% blocktranslate %}['scenario1', 'scenario2']{% endblocktranslate %}" value="{{ case_study.scenarios_to_study }}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Phases to execute -->
              <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Set Up Phases{% endblocktranslate %}</h6>
              <div class="pl-lg-4">
                <div class="card-body">
                  <div class="row icon-examples">
                    <div class="col-lg-3 col-md-6">
                      <a href="/monitoring/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-laptop"></i> <span>{% blocktranslate %}Log Processing{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/fe/prefiltering/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-zoom-split-in"></i> <span>{% blocktranslate %}Pre-Filtering{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/fe/ui-element-detection/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-image"></i> <span>{% blocktranslate %}UI Elements Detection{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/fe/postfiltering/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                        <i class="ni ni-zoom-split-in"></i> <span>Post-filtering</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/fe/feature-extraction-technique/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-money-coins"></i> <span>{% blocktranslate %}Feature extraction{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/pd/bpmn/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-sound-wave"></i> <span>{% blocktranslate %}Process Discovery{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/dd/extract-training-dataset/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-settings"></i> <span>{% blocktranslate %}Extract training dataset{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <a href="/dd/decision-tree-training/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-vector"></i> <span>{% blocktranslate %}Decision tree training{% endblocktranslate %}</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
