{% extends 'layouts/base.html' %}
{% load extras %}

{% block title %} Case studies {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Case studies</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">{{ case_study.title }}</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="/case-study/new/" class="btn btn-sm btn-neutral">New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Case study details</h3>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
              <!-- General information -->
              <h6 class="heading-small text-muted mb-4">General information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-title">Title</label>
                      <input type="text" id="input-title" class="form-control" placeholder="Nice Case Study" value="{{ case_study.title }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-title">Author</label>
                      <input type="text" class="form-control" disabled value="{{ case_study.user.username }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-description">Description</label>
                      <textarea id="input-description" class="form-control" description="This is a case study full of data...">{{ case_study.description }}</textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-exp_folder_complete_path">Folder path</label>
                      <input type="text" id="input-exp_folder_complete_path" class="form-control" placeholder="/rim/resources/folder_containing_exp" value="{{ case_study.exp_folder_complete_path }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-decision_point_activity">Decision-point to study</label>
                      <input type="text" id="input-decision_point_activity" class="form-control" placeholder="4_D" value="{{ case_study.decision_point_activity }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-gui_class_success_regex">Decision Oracle</label> <!-- Regular expression to evaluate decision discovered -->
                      <input type="text" id="input-gui_class_success_regex" class="form-control" placeholder="CheckBox_4_D and ImageView_2_B" value="{{ case_study.gui_class_success_regex }}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Configuration -->
              <h6 class="heading-small text-muted mb-4">Configuration</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Special columns names</label>
                  <textarea rows="4" class="form-control" 
                  placeholder="{
                    'Case': 'Case',
                    'Activity': 'Activity',
                    'Screenshot': 'Screenshot', 
                    'Variant': 'Variant',
                    'Timestamp': 'Timestamp',
                    'eyetracking_recording_timestamp': 'Recording timestamp',
                    'eyetracking_gaze_point_x': 'Gaze point X',
                    'eyetracking_gaze_point_y': 'Gaze point Y'
                  }">
                  {{ case_study.special_colnames }}
                  </textarea>
                </div>
              </div>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-ui_elements_classification_image_shape">UI Elements image shape (for classificaiton)</label>
                      <input id="input-ui_elements_classification_image_shape" class="form-control" placeholder="[64, 64, 3]" value="{{ case_study.ui_elements_classification_image_shape }}" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-ui_elements_classification_classes">UI Elements image shape (for classificaiton)</label>
                      <textarea id="input-ui_elements_classification_classes" class="form-control" value="{{ case_study.ui_elements_classification_classes }}" type="text" 
                      placeholder="[
                        'Button',
                        'Checkbox',
                        'CheckedTextView',
                        'EditText',
                        'ImageButton',
                        'ImageView',
                        'NumberPicker',
                        'RadioButton',
                        'RatingBar',
                        'SeekBar',
                        'Spinner',
                        'Switch',
                        'TextView',
                        'ToggleButton'
                      ]"
                      >{{ case_study.ui_elements_classification_classes }}
                    </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-text_classname">Text UI elements class name</label>
                      <input type="text" id="input-text_classname" class="form-control" placeholder="text" value="{{ case_study.text_classname }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-target_label">Target label column name</label>
                      <input type="text" id="input-target_label" class="form-control" placeholder="Variant" value="{{ case_study.target_label }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-scenarios_to_study">Scenarios to study</label>
                      <input type="text" id="input-scenarios_to_study" class="form-control" placeholder="['scenario1', 'scenario2']" value="{{ case_study.scenarios_to_study }}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Phases to execute -->
              <h6 class="heading-small text-muted mb-4">Related executions</h6>
              <div class="pl-lg-4">
                <div class="card-body">
                  <div class="row icon-examples">
                    <div class="col-lg-3 col-md-6">
                      <button type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-active-40"></i>
                          <a class="nav-link" href="/fe/prefiltering/list/">
                            <span>Behaviour Monitoring</span>
                          </a>
                        </div>
                      </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <button type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-air-baloon"></i>
                          <a class="nav-link" href="/fe/prefiltering/list/">
                            <span>Pre-Filtering</span>
                          </a>
                        </div>
                      </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <button type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-album-2"></i>
                          <a class="nav-link" href="/fe/prefiltering/list/">
                            <span>UI Elements detection</span>
                          </a>
                        </div>
                      </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <button type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-align-center"></i>
                          <a class="nav-link" href="/fe/prefiltering/list/">
                            <span>UI Elements classification</span>
                          </a>
                        </div>
                      </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <button type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-align-center"></i>
                          <a class="nav-link" href="/fe/prefiltering/list/">
                            <span>Post-filtering</span>
                          </a>
                          </div>
                        </button>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard">
                          <div>
                            <i class="ni ni-align-center"></i>
                            <a class="nav-link" href="/fe/prefiltering/list/">
                              <span>Feature extraction</span>
                            </a>
                            </div>
                          </button>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <button type="button" class="btn-icon-clipboard">
                        <div>
                          <i class="ni ni-align-center"></i>
                          <a class="nav-link" href="/fe/prefiltering/list/">
                            <span>Extract training dataset</span>
                          </a>
                          </div>
                        </button>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard">
                          <div>
                            <i class="ni ni-align-center"></i>
                            <a class="nav-link" href="/fe/prefiltering/list/">
                              <span>Decision tree training</span>
                            </a>
                          </div>
                        </button>
                      </div>
                  </div>
                </div>
                
                {% comment %} {% for s_fe in single_fe %}
                <div class="form-group">
                    <label class="form-control-label">Single Feature extraction technique</label>
                    <textarea rows="4" class="form-control" 
                    placeholder="{
                      'technique_name': 'status',
                      'gui_quantity_difference': 1,
                      'identifier': 'sta_'
                    }">
                    {{ s_fe | pretty_json  }}</textarea>
                  </div>
                  {% endfor %}
                
                {% for agg_fe in aggregate_fe %}
                  <div class="form-group">
                    <label class="form-control-label">Aggregate Feature extraction technique</label>
                    <textarea rows="4" class="form-control" 
                      placeholder="{
                        'technique_name': 'status',
                        'gui_quantity_difference': 1,
                        'identifier': 'sta_'
                      }">
                      {{ agg_fe | pretty_json  }}</textarea>
                  </div>
                {% endfor %} {% endcomment %}
                
                {% comment %} <div class="form-group">
                  <label class="form-control-label">Extract training dataset</label>
                  <textarea rows="4" class="form-control" 
                    placeholder="{
                    'columns_to_drop': ['Case','Activity','Timestamp','Screenshot','Variant'],
                    'columns_to_drop_before_decision_point': ['Coor_X', 'Coor_Y', 'MorKeyb', 'TextInput', 'Click']
                    }">
                    {{ case_study.extract_training_dataset | pretty_json  }}</textarea>
                </div> {% endcomment %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
