{% extends 'layouts/base.html' %}
{% load extras %}
{% load i18n %}

{% block title %} {% blocktranslate %}Case studies{% endblocktranslate %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/case-study/list/" class="btn btn-neutral"><i class="fas fa-arrow-left" style="margin-right: 5px;">
            </i>{% blocktranslate %}Go Back to Case Studies{% endblocktranslate %}</a>
            <h6 class="h2 text-white d-inline-block mb-0">{% blocktranslate %}Case Study {{ case_study_id }} details{% endblocktranslate %}</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-md-3 ml-md-2">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/case-study/list/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}Case study {{ case_study_id }}{% endblocktranslate %}</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{% blocktranslate %}Case study {{ case_study_id }} details{% endblocktranslate %}</h3>
          </div>
          <div class="card-body">
            {% include "case_studies/form.html" %}
            <hr class="my-4" />
            <!-- Phases to execute -->
            <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Set Up Phases{% endblocktranslate %}</h6>
            <div class="pl-lg-4">
              <div class="card-body">
                <div class="row icon-examples">
                  <div class="col-lg-3 col-md-6">
                    {% if 'Monitoring' in case_study.available_phases %}
                    <a href="/monitoring/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-laptop"></i> <span>{% blocktranslate %}Log Processing{% endblocktranslate %}</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'Prefilters' in case_study.available_phases %}
                    <a href="/fe/prefiltering/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-zoom-split-in"></i> <span>{% blocktranslate %}Pre-Filtering{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'Prefilters' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}Log Processing needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'UIElementsDetection' in case_study.available_phases %}
                    <a href="/fe/ui-element-detection/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-image"></i> <span>{% blocktranslate %}UI Elements Detection{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'UIElementsDetection' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}Log Processing needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'Postfilters' in case_study.available_phases %}
                    <a href="/fe/postfiltering/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                      <i class="ni ni-zoom-split-in"></i> <span>Post-filtering</span>
                      </div>
                    </a>
                    {% if not 'Postfilters' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}UI Elements Detection and Log Processing needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'FeatureExtractionTechnique' in case_study.available_phases %}
                    <a href="/fe/feature-extraction-technique/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-money-coins"></i> <span>{% blocktranslate %}Feature extraction{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'FeatureExtractionTechnique' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}UI Elements Detection needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'ProcessDiscovery' in case_study.available_phases %}
                    <a href="/pd/bpmn/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-sound-wave"></i> <span>{% blocktranslate %}Process Discovery{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'ProcessDiscovery' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}Log Processing needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'Postprocessing' in case_study.available_phases %}
                    <a href="/fe/postprocessing/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-money-coins"></i> <span>{% blocktranslate %}Postprocessing{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'Postprocessing' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}FE and PD needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'ExtractTrainingDataset' in case_study.available_phases %}
                    <a href="/dd/extract-training-dataset/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-settings"></i> <span>{% blocktranslate %}Extract training dataset{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'ExtractTrainingDataset' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}FE and PD needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-md-6">
                    {% if 'DecisionTreeTraining' in case_study.available_phases %}
                    <a href="/dd/decision-tree-training/list/{{ case_study_id }}" type="button" class="btn-icon-clipboard">
                    {% else %}
                    <a type="button" class="btn-icon-clipboard btn-icon-clipboard-disabled" disabled>
                    {% endif %}
                      <div>
                        <i class="ni ni-vector"></i> <span>{% blocktranslate %}Decision tree training{% endblocktranslate %}</span>
                      </div>
                    </a>
                    {% if not 'DecisionTreeTraining' in case_study.available_phases %}
                      <p class="text-sm text-muted">
                        {% blocktranslate %}Extract Training Dataset needed{% endblocktranslate %}
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
