{% load i18n %}

<form id="form-cs" method="POST" enctype="multipart/form-data" >{% csrf_token %}
    <!-- General information -->
    <h6 class="heading-small text-muted mb-4">{% blocktranslate %}General information{% endblocktranslate %}</h6>
    <div class="pl-lg-4">
    <div class="row">
        <div class="col-lg-12">
        <div class="form-group">
            <label class="form-control-label" for="type">{{ form.title.label }} <b class="text-red">*</b></label>
            {{ form.title }}
            <div class="form-validation">{{ form.title.errors }}</div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            <div class="form-validation">{{ form.description.errors }}</div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="form-group">
            {{ form.exp_file.label_tag }} <b class="text-red">*</b> (all UI logs has to be named as 'log.csv' to be loaded without log processing)<br/>
            {{ form.exp_file }}
            <button onclick="event.preventDefault(); alert(`
|-- zip
|   |-- scenario_name
|   |   |-- log.csv
|   |   |-- webgazer_gazeData.csv
|   |   |-- webgazer_properties.json
|   |   |-- image_001.png
|   |   |-- ...
|   |   |-- image_00N.png
-----------------------
|-- zip
|   |-- scenario_name
|   |   |-- log.mht
|   |   |-- webgazer_gazeData.csv
|   |   |-- webgazer_properties.json`)">?</button>
            <div class="form-validation">{{ form.exp_file.errors }}</div>
        </div>
        </div>
    </div>
    </div>
    <hr class="my-4 w-100" />
    <!-- Configuration -->
    <h6 class="heading-small text-muted mb-4">{% blocktranslate %}Configuration{% endblocktranslate %}</h6>
    <div class="pl-lg-4">
        <div class="form-group">
            <label for="config_dropdown">{% blocktranslate %}Configuration{% endblocktranslate %}</label>
            <select class="form-control" id="config_dropdown">
                <option value="standard">{% blocktranslate %}Configuration Standard Template without Gaze Log included in Case Study{% endblocktranslate %}</option>
                <option value="steprecorders_webgazer">{% blocktranslate %}Configuration Template with Steprecorders mht UI Log and Webgazer.js Gaze Log included in Case Study{% endblocktranslate %}</option>
                <option value="screenActionLogger_webgazer">{% blocktranslate %}Configuration Template with ScreenActionLogger UI Log and Webgazer.js Gaze Log included in Case Study{% endblocktranslate %}</option>
                <option value="steprecorders_tobii">{% blocktranslate %}Configuration Template with Steprecorders mht UI Log and Tobii Spark Eye tracking Gaze Log included in Case Study{% endblocktranslate %}</option>
                <option value="screenActionLogger_tobii">{% blocktranslate %}Configuration Template with ScreenActionLogger UI Log and Tobii Spark Eye tracking Gaze Log included in Case Study{% endblocktranslate %}</option>
                <option value="blank">{% blocktranslate %}Custom Configuration{% endblocktranslate %}</option>
            </select>
        </div>    
    </div>
        <label class="form-control-label" for="type">{{ form.special_colnames.label }}<b class="text-red">*</b></label>
        {{ form.special_colnames.as_hidden }}
        <div id="json-inputs" class="d-flex flex-wrap p-4">
        </div>
        <div class="form-validation">{{ form.special_colnames.errors }}</div>
    <div class="pl-lg-4">
    <div class="row">
        <div class="col-lg-12">
        <div class="form-group">
            {{ form.scenarios_to_study.label_tag }}<b class="text-red">*</b>
            {{ form.scenarios_to_study }}
            <div class="form-validation">{{ form.scenarios_to_study.errors }}</div>
        </div>
        </div>
    </div>
    </div>
    <hr class="my-4 w-100" />
    <!-- Phases to execute -->
    {% comment %} <h6 class="heading-small text-muted mb-4">Phases to execute</h6>
    <div class="pl-lg-4">
    <div class="form-group">
        {{ form.ui_elements_detection.label_tag }}
        {{ form.ui_elements_detection }}
        <div class="form-validation">{{ form.ui_elements_detection.errors }}</div>
    </div>
    <div class="form-group">
        
        {{ form.monitoring.label_tag }}
        {{ form.monitoring }}
        <div class="form-validation">{{ form.monitoring.errors }}</div>
    </div>
    <div class="form-group">
        {{ form.ui_elements_classification.label_tag }}
        {{ form.ui_elements_classification }}
        <div class="form-validation">{{ form.ui_elements_classification.errors }}</div>                 
    </div>

    <!--div class="form-group">
        {{ form.feature_extraction_technique.label_tag }}
        {{ form.feature_extraction_technique }}
        <div class="form-validation">{{ form.feature_extraction_technique.errors }}</div>
    </div-->
    <div class="form-group">
        <div class="form-group">
        {{ form.extract_training_dataset.label_tag }}
        {{ form.extract_training_dataset }}
        <div class="form-validation">{{ form.extract_training_dataset.errors }}</div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
        {{ form.decision_tree_training.label_tag }}
        {{ form.decision_tree_training }}
        <div class="form-validation">{{ form.decision_tree_training.errors }}</div>
        </div>
    </div>
    </div> {% endcomment %}
    <div class="d-flex flex-col justify-content-end">
    <button class="btn btn-success" type="submit" value="submit" >
    <i class="fas fa-save"></i> 
    {% blocktranslate %}Save{% endblocktranslate %}
    </button>
    </div>
</form>


<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
    const config_dropdown = document.getElementById('config_dropdown');
    const container = document.getElementById('json-inputs');

    function loadDataBasedOnSelection() {
        let data;
        if (config_dropdown.value === 'standard') {
            data = JSON.parse('{{ form.special_colnames.value|escapejs }}');
        } else if (config_dropdown.value === 'steprecorders_webgazer') {
            data = {
                "Case": "ocel:eid",
                "CoorX": "ocel:click:coorX",
                "CoorY": "ocel:click:coorY",
                "Header": "header",
                "NameApp": "FileName",
                "Variant": "ocel:variant",
                "Activity": "ocel:activity",
                "EventType": "ocel:type:event",
                "Timestamp": "ocel:timestamp",
                "Screenshot": "ocel:screenshot:name", 
            };
        } else if (config_dropdown.value === 'screenActionLogger_webgazer') {
            data = {
                "Case": "case:concept:name",
                "CoorX": "coordX",
                "CoorY": "coordY",
                "Header": "header",
                "NameApp": "application",
                "Variant": "ocel:variant",
                "Activity": "ocel:activity",
                "EventType": "category",
                "Screenshot": "screenshot", 
                "Timestamp": "time:timestamp",
            };
        } else if (config_dropdown.value === 'steprecorders_tobii') {
            data = {
                "Case": "ocel:eid",
                "CoorX": "ocel:click:coorX",
                "CoorY": "ocel:click:coorY",
                "Header": "header",
                "NameApp": "FileName",
                "Variant": "ocel:variant",
                "Activity": "ocel:activity",
                "EventType": "ocel:type:event",
                "Timestamp": "ocel:timestamp",
                "Screenshot": "ocel:screenshot:name", 
            };
        } else if (config_dropdown.value === 'screenActionLogger_tobii') {
            data = {
                "Case": "case:concept:name",
                "CoorX": "coordX",
                "CoorY": "coordY",
                "Header": "header",
                "NameApp": "application",
                "Variant": "ocel:variant",
                "Activity": "ocel:activity",
                "EventType": "category",
                "Screenshot": "screenshot", 
                "Timestamp": "time:timestamp",
            };
        } else if (config_dropdown.value === 'blank') {
            data = {
                "Case": "",
                "CoorX": "",
                "CoorY": "",
                "Header": "",
                "NameApp": "",
                "Variant": "",
                "Activity": "",
                "EventType": "",
                "Timestamp": "",
                "Screenshot": "", 
            };
        }
        return data;
    }

    function createInputsForData(data) {
        container.innerHTML = ''; // Clear previous inputs
        for (const key in data) {
            const div = document.createElement('div');
            div.className = 'd-flex w-50 flex-row p-1 justify-content-between';

            const required = document.createElement('b');
            required.className = 'text-red';
            required.textContent = '*';

            const label = document.createElement('label');
            label.className = 'p-0 align-self-center text-wrap w-50 text-truncate';
            label.textContent = key;
            label.appendChild(required);

            const input = document.createElement('input');
            input.className = 'form-control';
            input.required = true;
            input.name = key;
            input.value = data[key];

            div.appendChild(label);
            div.appendChild(input);
            container.appendChild(div);
        }
    }

    // Initial load
    createInputsForData(loadDataBasedOnSelection());

    config_dropdown.addEventListener('change', function() {
        const data = loadDataBasedOnSelection();
        createInputsForData(data);
    });

    // When the form is submitted, update the hidden input with the JSON data
    document.getElementById('form-cs').addEventListener('submit', (event) => {
        event.preventDefault();

        const newData = {};
        for (const input of container.querySelectorAll('input')) {
            newData[input.name] = input.value;
        }

        document.querySelector('input[name="special_colnames"]').value = JSON.stringify(newData);
        event.target.submit();
    });
</script>
{% endblock javascripts %}